.bg-black{
  /* background-color: #1c1e21; */
  background-color: #18191a;
}
.bg-swaiie{
  background-color: #fb5c5c;
}
.text-swaiie{
  color: #fb5c5c;
}
/* MENU PARA CERRAR SESION */
.submenu{
  position: absolute;
  background: #1c1e21;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}
.submenu li a{
  text-decoration: none;
}
.menu li:hover .submenu{
  visibility: visible;
  opacity: 1;
}

/* ALERTA PARA AGREGAR EQUIPO */
.modal1{
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: 9999999;
  width: 100vw;
  height: 100vh;
}

.modal1 .hecho{
  position: fixed;
  right: 20px;
  top: -100vh;
  transition: top 0.35s ease;
  z-index: 9999999;
}

.modal1:target .hecho{
  top: 50px;
  transition: top 0.35s ease;
}

/* PANTALLA DE CARGA EN EQUIPO.php */
.pantalla{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #18191a;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}
